*{
    padding: 0;
    margin: 0;
}

body {
    background-color: rosybrown;
}
.container {
    display: flex;
    justify-content: end;
    size: 10px;
}


h1 {
    background-color: rgba(209, 209, 32, 0.664);
    width: 150px;
    display: flex;
    justify-content: space-between;
   
}

.fizq {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    size: 15px;
}

.fizq-items {
    display: flex;
    
}
.foP {
    background-color: beige;
    
display: flex;
justify-content: center;
padding: 20px;
margin-top: 5px;
}